version: 2
updates:
  # main branch
  - package-ecosystem: "nuget"
    directory: "/src"
    target-branch: "main"
    schedule:
      interval: "weekly"
    allow:
      - dependency-type: "all"
    assignees:
      - "commonsensesoftware"
    reviewers:
      - "commonsensesoftware"
    commit-message:
      prefix: "[main] "
      include: scope

  # only servicing 5.x release
  - package-ecosystem: "nuget"
    directory: "/"
    target-branch: "release/5.0"
    schedule:
      interval: "monthly"
    allow:
      - dependency-type: "all"
    assignees:
      - "commonsensesoftware"
    reviewers:
      - "commonsensesoftware"
    commit-message:
      prefix: "[release/5.0] "
      include: scope