<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/156e7cc5-88ab-4317-9191-a22f231b74a6/resourceGroups/APIVersioning/providers/Microsoft.Web/sites/OpenApiVersionSample</ResourceId>
    <ResourceGroup>APIVersioning</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://openapiversionsample.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>15d3881b-d1ad-4f6f-ae2c-6d86f65d9aa9</ProjectGuid>
    <PublishUrl>https://openapiversionsample.scm.azurewebsites.net/</PublishUrl>
    <UserName>$OpenApiVersionSample</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>